{% extends 'base.html' %}
{% block content %}
{% load static %}
<html>
<head>
    <title>about</title>
    <link href="{%static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="(%static 'icofont/icofont.min.css'%}" rel="stylesheet" />
    </head>
<body>
  <div class="container-fluid " style="background:url({%static 'images/about.jpg' %});background-size: cover" >
    <div class="lyr" style="background-color: rgba(62,71,29, 0.50);padding: 100px;">
    <div class="container ">
      <div class="row text-light text-center">
        <div class="col-md-12">
          <h2 style="font-size:60px"><span style="font-weight: bold;">ABOUT</span> Us</h2>
          <h5>Home -> Aboutus</h5>
        </div>
      </div>
    </div>
  </div>
    </div>


    <!------------------------------>
   
<div class="container pt-5">
  <div class="row">
    <div class="col-md-6">
      <img src={%static "images/p1.jpg" %}  height="500px" width="500px" style="box-shadow: 27px 27px 30px #6ac610">
    </div>
    <div class="col-md-6">
      
      <h1><span style="font-size:60px ; color: #6ac610;">Go Green</span>NATURE </h1>
      <p>Going green is nowhere near a new concept as families and businesses begin switching to more energy efficient, natural, organic and green lifestyles.</p>
<p>Going green not only helps the environment but it also helps humans to live a happy and healthy life. It is an excellent initiative that will help our nature and environment sustain the resources for future generations. Going green is a choice of steps that a person takes to help our planet earth.</p>

<h5 style=""> <span style=" font-weight: bold; color: #6ac610;"> > </span> Eco & Wind Power</h5>
<h5 style=""> <span style=" font-weight: bold; color: #6ac610;"> > </span> Green Tree plantion</h5>
<h5 style=""> <span style=" font-weight: bold; color: #6ac610;"> > </span> Solar Energy</h5>
<h5 style=""> <span style=" font-weight: bold; color: #6ac610;"> > </span> Save White Tiger</h5>

    </div>
  </div>
</div>


<!------------------------------->

<div class="container pt-5">
  <div class="row pt-5">
    <div class="col-md-4">
      <h4>Our Mission</h4>

<p style="color: #999">Our mission is to provide clean drinkable water to every citizen of our country . Uncontaminated and fertilizing land, so the harvest is organic, healthy and edible . Controlling global warming with more foliage of dense mammoth forest and giving back the habitat of wild animals , for them to flourish and nourish . Air, so clean that breathing is easy and normal instead of harmful and cautious.</p>
    </div>
    <div class="col-md-4">
      <h4>Our Vision</h4>
      <p style="color: #999">“Living in healthy environment is our birthright."
        This vision may be turn into reality only by spreading the message of nature conservation through mass education. the over all emphasis is on environmental education, research & developing a group of Eco-friendly people.Our vision is a world where the diversity of life thrives, and people act to conserve nature for its own sake.</p>
</div>
    <div class="col-md-4">
      <h4>Our Goal</h4>
      <p style="color: #999">Protect environment, conserve natural resources, keep beauty of the planet and create a conducive environment to live in for the future generation. Nature should be preserved in all its aspects. It should be kept clean and beautiful. We have to reduce the rates of pollution. Animals, plants and all forms of life have to be protected and rare and extinct species should be carefully looked after.</p>
    </div>
  </div>
</div>
</body></html>
{% endblock %}