{% extends 'side.html' %}
{% block content %}
{% load static %}
<div class="container">
    <h1 class="text-center p-3 pb-3" style="font-size: 45px; text-shadow:0px 0px 5px red">HEALTH</h1>
   
    <div class="row">
        {% for i in data %}
            <div class="col-4 text-center border p-3" style="background-image:url('{{i.image.url'); ">
                <img src="{{i.image.url}}" width="95%" height="300px" class="rounded-circle">
                <a href="{% url 'detailhealth' id=i.id %}"><h4 class="pt-3 pb-3">{{i.name}}</h4></a>
                
            </div>
        {% endfor %}
        </div></div>
        

    
   {% endblock %}