{% extends 'side.html' %}
{% block content %}
{% load static %}
<div class="container">
   
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8 text-center pt-5">
            <h1 style="color: white;font-size:45px;font-family: cursive;" >Change <span style="color:black">Password</span></h1>
            <br><br>
            <form action="" method="POST">
                {% csrf_token %}
                <h5 class="text-danger">{{res}}</h5>
    <h5 class="text-success">{{rest}}</h5>
                <div class="row">
                <div class="col-3 text-end">
                    <h5 class="pt-2">Old Password</h5>
                </div>
                <div class="col-9">
                    <input type="password" class="form-control " name="O">
                </div>
            </div>

            <div class="row pt-4">
                <div class="col-3 text-end">
                    <h5 class="pt-2">New Password</h5>
                </div>
                <div class="col-9">
                    <input type="password" class="form-control " name="N">
                </div>
            </div>

            <div class="row pt-4">
                <div class="col-3 text-end">
                    <h5 class="pt-2">Re-enter Password</h5>
                </div>
                <div class="col-9">
                    <input type="password" class="form-control " name="R">
                </div>
            </div>

            <div class="pt-4">
                <button type="submit" class="btn btn-dark ps-5 pe-5">Set Password </button>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</form>
    </div>

    
   {% endblock %}