{% extends 'side.html' %}
{% block content %}
{% load static %}
<div class="container">
    <h1 class="text-center p-3 pb-3" style="font-size: 45px; text-shadow:0px 0px 5px red">Technology</h1>
   
    <div class="row">
        <div class="col-1">
</div>            <div class="col-10 text-center border p-3" >
                <img src="{{i.image.url}}" width="95%" height="300px" >
                <h4 class="pt-3 pb-3">{{i.name}}</h4>
                <p><span class="text-danger">By: </span>{{i.author}}</p>
                <p>{{i.data}}</p>
                <p>{{i.description}}</p>
            </div>
        
        </div></div>
        

    
   {% endblock %}