{% extends 'base.html' %}
{% block content %}
{% load static %}

  <div class="container-fluid " style="background:url({%static 'images/about.jpg' %});background-size: cover" >
    <div class="lyr" style="background-color: rgba(62,71,29, 0.50);padding: 100px;">
    <div class="container ">
      <div class="row text-light text-center">
        <div class="col-md-12">
          <h2 style="font-size:60px"><span style="font-weight: bold;">Latest</span> News</h2>
          <h5>Home -> News</h5>
        </div>
      </div>
    </div>
  </div>
    </div>



<div class="container">
  <div class="row">
  
  
    <div class="col-12 p-4 text-center">
      
        
        <h3 class=" p-3" >{{i.title|safe}}</h3>
        <img src="{{i.image.url}}"  >
        <h5 class="text-danger pt-3 pb-3">{{i.date}}</h5>
        <p style="text-align: justify;">{{i.description}}</p>
    </div></div>
      
  
  
</div></div></div>



    {% endblock %}