{% load static %}
<html>
<head>
    <title>project</title>
    <link href="{%static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{%static 'icofont/icofont.min.css' %}" rel="stylesheet" />
    </head>
<body>
    
    
    
    <div class="container-fluid bg-Dark pt-5 pb-5 text-light" >
    <div class="container">
    <div class="row">
        <div class="col-md-2">
        <h2 style="  ">Contact<span style="color: lawngreen">Us</span></h2><br/>
            <i class="icofont-map-pins icofont-1x"style="color: lawngreen"></i> 321, UK, Esse str. 46<br/><br/>
<i class="icofont-pencil-alt-2 icofont-1x" style="color: lawngreen"></i>info@example.com<br/><br/>
 <i class="icofont-phone icofont-1x" style="color: lawngreen"></i>8 800 259 3489<br/><br/>
          <i class="icofont-fax icofont-1x" style="color: lawngreen"></i>8 800 259 3489 <br/>
        </div>
 <div class="col-md-3 pl-3">
            <h3>Direct<span style="color:lawngreen"> Navigation</span></h3><br/>
         <i class="icofont-bubble-right icofont-2x" style="color: lawngreen"></i>About Us<br/>
         <i class="icofont-bubble-right icofont-2x" style="color: lawngreen"></i>Our Services<br/>
     <i class="icofont-bubble-right icofont-2x" style="color: lawngreen"></i> Gallery Regular <br/>
        <i class="icofont-bubble-right icofont-2x" style="color: lawngreen"></i> >Contact Us  
        </div>
     <div class="col-md-3">
         <h2>Our <span style="color:lawngreen"> Services</span></h2><br/>
         <i class="icofont-bubble-right icofont-2x" style="color: lawngreen;"></i> Brisket turkey jerky<br/>
 <i class="icofont-bubble-right icofont-2x" style="color: lawngreen; "></i> Pig ham shank stri<br/>
         <i class="icofont-bubble-right icofont-2x"style="color: lawngreen"></i> Beef picanha venison<br/>
        <i class="icofont-bubble-right icofont-2x"style="color: lawngreen"></i> Picanha spare ribs  
        </div>
        <div class="col-md-4 " style="font-family:monospace"><h2>Newsletter <span style="color: lawngreen">Signup</span></h2><br/>
            <form>
                <br/>
            <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">@</span>
                </div>        </div>
            <br/>
            <p style=" table-layout: fixed ; font-size:22; font-family: cursive;">Subscribe to our Newsletter right now to be updated. We promice not to spam</p>
</form>
        </div>    
      </div>
        </div>
        <hr style="text-justify;background-color:whitesmoke">
        <div class="row">
            <div class="col-md-12 text-center ">
                &copy;COPYRIGHT 2022 ALL RIGHTS RESERVED.</div></div></div>
       
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.4.1.min.js"></script>
        </body></html>