{% extends 'base.html' %}
{% block content %}
{% load static %}
	
<div style="background-image: url({%static 'images/greennewdeal.jpg' %}); ">
	<div class="row " style="padding-top: 130px ; padding-bottom: 130px">
		<div class="col-md-4"></div>
		<div class="col-md-4  text-center " style="background-color: yellowgreen; border-bottom-left-radius: 2px " >
			<form class="p-3" method="POST" action="">
				
				{% csrf_token %}
				<br/>
				<h1 style="color:whitesmoke ;border: 2px; font-family: cursive" >Forgot Password</h1>
				<h3 class="text-danger">{{res}}</h3>
				<h3 class="text-success">{{rest}}</h3>
                <br/><br/>
				<div class="input-group mb-3">
  					<div class="input-group-prepend">
    					<span class="input-group-text p-3" id="basic-addon1"><i class="icofont-user-alt-7"></i></span>
  					</div>
  					<form method="POST" action="">		
  					<input type="email" class="form-control"name="em"  placeholder="Email Address" aria-label="Username" aria-describedby="basic-addon1">
				</div>
				
           
		
                <button type="submit" class="btn btn-outline-light" style="color: whitesmoke">Get Password</button>
				
			</form>
		</div>
		<div class="col-md-4"></div>
		</div></div>
{% endblock %}