{% extends 'base.html' %}
{% block content %}
{% load static %}
<html>
<head>
    <title>project</title>
    <link href="{%static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{%static 'icofont/icofont.min.css'%}" rel="stylesheet" />
    </head>
<body>
  <div class="container-fluid " style="background:url({%static 'images/slide.jpg' %} );background-size: cover; padding-top: 80px; padding-bottom: 100px"  >
    
    <div class="container ">
      <div class="row text-light pt-5">
        <div class="col-md-12">
          <h1 ><span style="font-size:60px ; background-color: #6ac610; padding: 20px; border-bottom-left-radius:50%; border-bottom-right-radius:50%;border-top-left-radius:50%; " > O<sub>2</sub></span></h1>
          <h2 style="font-size:80px; padding-left: 90px"><span style="font-weight: bold;">GO</span> GREEN</h2>
          <br/>
          <h5 ><span class="p-2" style="font-size:30px ; background-color: #6ac610;">SAVE THE WORLD BY PLANTING TREE</span></h5>
          <p class="p-2">If you want to save trees, you can help by protecting those that grow around your home, and planting more Trees.<br/> Reduce the use of paper products, too.</p>
        </div>
      </div>
    </div>
  </div>
    </div>


<!---------------------------------------->

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center pt-5">
        <h1 style="font-size:80px ; color: #6ac610; font-weight: bold">30000+</h1>
        <h1 style="font-size:35px ;  font-weight: bold">PEOPLE WORKING WITH US</h1>
        <p style="color: #999">We must do all we can to cut down on energy consumption and encourage people to source for eco-friendly sources of energy. For example; there are loads of materials that is decomposable and when they are buried in the ground they cause harm to human, animals and the ecosystem.</p>
      </div>
    </div>

    <div class="row pt-5 pb-5">
      <div class="col-md-3 text-center">
        <div style="font-size:60px ; background-color: #6ac610; padding: 20px; border-bottom-left-radius:50%; border-bottom-right-radius:50%;border-top-left-radius:50%; height: 250px; width: 250px">
          <i class="icofont-leaf icofont-2x text-light"></i>
          <h5 style=" color: white; font-weight: bold">ECO SYSTEM</h5>
        </div>
      </div>
        <div class="col-md-3 text-center">
        <div style="font-size:60px ; background-color: #6ac610; padding: 20px; border-bottom-left-radius:50%; border-bottom-right-radius:50%;border-top-left-radius:50%; height: 250px; width: 250px">
          <i class="icofont-recycle-alt icofont-2x text-light"></i>
          <h5 style=" color: white; font-weight: bold">RECYCLING</h5>
        </div></div>
        <div class="col-md-3 text-center">
        <div style="font-size:60px ; background-color: #6ac610; padding: 20px; border-bottom-left-radius:50%; border-bottom-right-radius:50%;border-top-left-radius:50%; height: 250px; width: 250px">
          <i class="icofont-blood-drop icofont-2x text-light"></i>
          <h5 style=" color: white; font-weight: bold">WATER REFINE</h5>
          </div>
        </div>
        <div class="col-md-3 text-center">
        <div style="font-size:60px ; background-color: #6ac610; padding: 20px; border-bottom-left-radius:50%; border-bottom-right-radius:50%;border-top-left-radius:50%; height: 250px; width: 250px">
          <i class="icofont-brand-reuters icofont-2x text-light"></i>
          <h5 style=" color: white; font-weight: bold">SOLAR SYSTEM</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!------------------------------>
<div class="container-fluid" style="background-color: #979995; padding-top: 20px; padding-bottom: 20px">
  <div class="container">
<h3 class="text-center pt-5 text-light">-----Gallery-----</h3>
<div class="row pt-5" >
  <div class="col-md-3"> <img src={%static "images/e1.jpg" %}  height="250px" width="270px" style="box-shadow: 7px 7px 10px #6ac610"></div>
  <div class="col-md-3"> <img src={%static "images/e2.jpg" %} height="250px" width="270px" style="box-shadow: 7px 7px 10px #6ac610"> </div>
  <div class="col-md-3"> <img src={%static "images/e3.jpg" %}  height="250px" width="270px" style="box-shadow: 7px 7px 10px #6ac610"> </div>
  <div class="col-md-3"> <img src={%static "images/e4.jpg" %}  height="250px" width="270px" style="box-shadow: 7px 7px 10px #6ac610"> </div>
</div>
<div class="row pt-3" >
  <div class="col-md-3"> <img src={%static "images/e5.jpg" %}  height="250px" width="270px" style="box-shadow: 7px 7px 10px #6ac610"> </div>
  <div class="col-md-3"> <img src={%static "images/e6.jpg" %}  height="250px" width="270px" style="box-shadow: 7px 7px 10px #6ac610"> </div>
  <div class="col-md-3"> <img src={%static "images/e7.jpg" %}  height="250px" width="270px" style="box-shadow: 7px 7px 10px #6ac610"> </div>
  <div class="col-md-3"> <img src={%static "images/e8.jpg" %}  height="250px" width="270px" style="box-shadow: 7px 7px 10px #6ac610"> </div>
</div>
<br>
</div></div>
<!----------------------------------->
<h3 class="text-center pt-5 ">-----Our Team-----</h3>
<div class="container pt-3">
  <div class="row pt-3">
    <div class="col-md-3">
      <div class="card" style="width: 16rem;">
         <img src={%static "images/ariel1.jpg" %} class="card-img-top" alt="...">
         <div class="card-body">
         <h5 class="card-title">Ariel Schwartz</h5>
         <p class="card-text">Schwartz is senior editor of the Fast Company blog, FastCo Exist, which is a mash-up of design and social good. In her position as editor, she does the weeding out for you, publishing and tweeting only the most interesting green oddities and inventions out there.</p>
       </div>
     </div>
    </div>

    <div class="col-md-3">
      <div class="card" style="width: 16rem;">
         <img src={%static "images/bill.jpg" %} class="card-img-top" alt="...">
         <div class="card-body">
         <h5 class="card-title"> Bill McKibben</h5>
         <p class="card-text">The father of modern environmental campaigning, Bill McKibben was one of the first to publish a book on climate change back in 1989 and has just come out with a new book called Oil and Honey. This guy is also the founder of 350.org.</p>
       </div>
     </div>
    </div>

    <div class="col-md-3">
      <div class="card" style="width: 16rem;">
         <img src={%static "images/elaine.jpg" %} class="card-img-top" alt="...">
         <div class="card-body">
         <h5 class="card-title"> Elaine Hsieh</h5>
         <p class="card-text">Director at one of most respected energy-tech-data conferences, VERGE, Hsieh is a great source for energy industry insights. In a former life, she was a consultant at DNV GL (formerly DNV KEMA), so you know she’s got her facts straight.</p>
       </div>
     </div>
    </div>

    <div class="col-md-3">
      <div class="card" style="width: 16rem;">
         <img src={%static "images/hunter.jpg" %} class="card-img-top" alt="...">
         <div class="card-body">
         <h5 class="card-title"> Hunter Lovins </h5>
         <p class="card-text">A true thought leader, Hunter Lovins coined the term “natural capitalism” on the eve of when companies started realizing they needed to get their act together on the environment. Lovins’ thesis, that green business can also be good business, is a modern tenant of corporate sustainability today.</p>
       </div>
     </div>
    </div>
  </div>
</div>



{% endblock %}